# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

#Generated msgtoBus and bustoMsg from Matlab
+bus_conv_fcns/

#Proc_Control_node and sonia_common for code generation
src/src/
src/proc_control_node/
proc_control_node/

#Build files from Simulink
*.sh
*.tgz